* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.main {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  
  
}

header {  
  height: 3rem;
  background-color: blue;
  margin-bottom: 1rem;
  
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  justify-content: space-between;
  gap: 0.5rem;
}

.card {
  height: 3rem;
  width: 8rem;  
  margin: 0.5rem 0.5rem 0 0;
  background-color: gray;
}